.shop-container{
    display: grid;
    grid-template-columns:4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    row-gap: 25px;
    margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .products-container{
        display: flex;
        justify-content: center;
    }
    
}


