.cart{
    background-color: gainsboro;
    top: 0;
    margin-left: 10px;
    height: 700px;
}

.btn-cart{
    width: 100%;
	background: #ffe0b3;
	border: none;
	border-radius: 0px 0px 8px 8px;
	position: absolute;
	left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}